//Colors
$col-pink: #ff4e50;
$col-green: #18d4ca;
$col-orange: #ffa710;
$col-purple: #667df3;
$col-dark-grey: #444444;
$col-grey: #666666;

//Fonts
$font-Montserrat:  'Montserrat';
$font-Roboto: 'Roboto';

//device sizes
$mobile-dev: 480px;
$mobile-dev-landsc: 600px;
$tablet-dev: 768px;
$tablet-dev-landsc: 992px;
$desktop-dev: 1200px;

